---
import { IProjectDetails } from "@types";
const { projectDetail } = Astro.props as IProjectDetails;
const { title, thumbnails = [], liveUrl, githubUrl } = projectDetail;
---

<article class="w-full max-h-[25rem] overflow-hidden relative group">
  
    {/* Mostrar solo la primera imagen de las miniaturas */}
    <div class="relative">
      <img
        src={thumbnails[0]}  
        class="w-full h-full object-cover transition duration-[1.5s] group-hover:opacity-0"
        loading="lazy"
        alt={`${title} cover image`}
      />

      {/* Contenedor de imágenes que aparece en hover */}
      <div class="absolute inset-0 bg-black/50 opacity-0 group-hover:opacity-100 transition-opacity duration-500">
        <div class="grid grid-cols-3 gap-2 ">
          {thumbnails.map((thumbnail, index) => (
            <img
              key={index}
              src={thumbnail}
              class="w-full h-auto object-cover transition-transform transform hover:scale-105"
              loading="lazy"
              alt={`${title} image ${index + 1}`}
            />
          ))}
        </div>
      </div>
    </div>


  {/* Título del proyecto */}
  <div class="absolute w-full bottom-0 left-0 backdrop-blur-md dark:text-white text-white bg-black/50 p-4 translate-y-full group-hover:translate-y-0 transition duration-700">
    <h3 class="mr-2 text-xl">{title}</h3>
  </div>
</article>
